@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark/Light mode */
:root {
  color-scheme: light dark;
  background-color: #242424;
  color: rgba(255,255,255,0.87);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
}

/* Scrollbar helper untuk carousel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
